.modal {
    width: 400px;
    height: 260px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* display: none; */
}

section {
    margin: 30px 0;
}

.box {
    width: 100px;
    height: 60px;
    background-color: red;
    border-radius: 6px;
    text-align: center;
    line-height: 60px;
}
.box.active {
    background-color: #000;
    color: #fff;
}

ul {
    list-style: none;
}

.gnb {
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
}

.gnb > li {
    position: relative;
}

.gnb ul {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
}

.slider {
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.slide img {
    display: block;
    width: 1200px;
}

.items {
    position: relative;
    width: 200px;
}

.item {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    position: absolute;

}